---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

Due to the nature of the applications using subject data,
the source code for these applications cannot be shared. If you have any questions please feel free
to contact me directly, or to check out the publications page for more specific information.

The portfolio files listed, were for projects done through graduate school. More recent work was done for a startup, but is not available to be shared. 

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

